.page1-exercise{
    background-image: url('../Assets/page-1-exercise.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.text1{
    color: #FFF;
    font-family: Impact;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10rem 0 0 3rem;
}

.text2{
    color: #F00;
    font-family: Impact;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 1rem 3rem;
}

.page1-exercise p {
    color: #000;
    font-family: Nunito Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 58%;
    padding: 0 0 1rem 3rem;
}

.page2-exercise{
    padding-top: 10rem;
    background-image: url('../Assets/page-2-exercise.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.page3-exercise {
    background-color: #7ed957;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 8rem;
}

.diezyPlusBanner2 {
    background-image: url('../Assets/diezyPlus2.png');
    background-size: 1300px 600px;
    width: 90%;
    height: 35rem;
    margin-left: 5rem;
    padding-top: 3rem;
    border-radius: 5rem;
}

