.logo-diezy{
    width: 50px;
    height: 50px;
}

.cart-logo{
    width: 30px;
    height: 30px;
}

.notif-logo{
    width: 30px;
    height: 30px;
}

.profil-logo{
    width: 50px;
    height: 50px;
}



